---
import { getCollection } from "astro:content";
import Header from "@components/arHeader.astro";
import Footer from "@components/arFooter.astro";
import Layout from "@layouts/arLayout.astro";
import Main from "@layouts/arMain.astro";
import Tag from "@components/arTag.astro";
import getUniqueTags from "@utils/getUniqueTags";
import { SITE } from "@config";

const posts = await getCollection("ar");

let tags = getUniqueTags(posts);
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main pageTitle="Tags" pageDesc="">
    <ul>
      {tags.map(({ tag }) => <Tag {tag} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
