---
import { LOGO_IMAGE, SITE } from "@config";
import Hr from "./Hr.astro";
import LinkButton from "./LinkButton.astro";
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export interface Props {
  activeNav?: "fatwas" | "tags" | "search";
}

const { activeNav } = Astro.props;
---

<header>
  <a id="skip-to-content" href="#main-content">Skip to content</a>
  <div class="nav-container">
    <div class="top-nav-wrap">
      <a href="/ar/" class="logo whitespace-nowrap">
        {t('i18n.title')}
      </a>

      <nav id="nav-menu">
        <button
          class="hamburger-menu focus-outline"
          aria-label="Open Menu"
          aria-expanded="false"
          aria-controls="menu-items"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="menu-icon"
          >
            <line x1="3" y1="6" x2="21" y2="6" class="line"></line>
            <line x1="7" y1="12" x2="21" y2="12" class="line"></line>                      
            <line x1="18" y1="6" x2="6" y2="18" class="close"></line>
            <line x1="6" y1="6" x2="18" y2="18" class="close"></line>
          </svg>
        </button>
        <ul id="menu-items" class="display-none sm:flex">
          <li>
            <a href="/ar/fatwas/" class={activeNav === "fatwas" ? "active" : ""}>
              {t('i18n.fatwas')}
            </a>
          </li>
          <li>
            <a href="/ar/tags/صوتيات/" class={activeNav === "tags" ? "active" : ""}>
              {t('i18n.audios')}
            </a>
          </li>
          <li>
            <a href="/ar/tags/" class={activeNav === "tags" ? "active" : ""}>
              {t('i18n.categories')}
            </a>
          </li>
        </ul>
      </nav>
<LinkButton
 href="/"
 className={`focus-outline p-3 sm:p-1 ${
 activeNav === "trans" ? "active" : ""
 } flex`}
 ariaLabel="trans"
 title="English">
<svg 
xmlns="http://www.w3.org/2000/svg" 
viewBox="0 0 24 24" 
stroke-linecap="round" 
stroke-linejoin="round" 
stroke="currentColor"
stroke-width="0.6" 
fill="none" 
width="40"
height="40">
<path d="M 4 2 C 2.9 2 2 2.9 2 4 L 2 12 C 2 13.1 2.9 14 4 14 L 10 14 L 10 20 C 10 21.1 10.9 22 12 22 L 20 22 C 21.1 22 22 21.1 22 20 L 22 12 C 22 10.9 21.1 10 20 10 L 14 10 L 14 4 C 14 2.9 13.1 2 12 2 L 4 2 z M 7.1757812 4 L 8.8046875 4 L 11.259766 10.146484 C 10.622151 10.402863 10.149579 10.977115 10.033203 11.671875 L 9.40625 10 L 6.578125 10 L 5.828125 12.015625 L 4 12 L 7.1757812 4 z M 8 6 L 7 9 L 9 9 L 8 6 z M 15.669922 12.001953 C 16.572594 11.966064 17.150391 12.832031 17.150391 12.832031 L 17.150391 13.208984 C 17.150391 13.208984 16.772578 12.832031 16.017578 12.832031 C 15.806578 12.832031 15.297125 13.0155 15.203125 13.5625 C 15.101125 14.1575 16.128531 14.341797 16.394531 14.341797 C 17.149531 14.341797 17.998047 13.984375 17.998047 13.984375 L 17.4375 16 C 17.4375 16 16.757953 15.357375 15.626953 15.734375 C 14.826953 16.001375 14.683703 17.11575 14.845703 17.46875 C 15.625703 19.17275 19 19 19 19 C 19 19 18.015578 20 16.017578 20 C 14.687578 20 13 19.245328 13 17.736328 C 13 16.227328 14.509766 15.472656 14.509766 15.472656 C 14.509766 15.472656 14.119875 14.931375 14.046875 14.734375 C 13.749875 13.937375 14.131672 12.453172 15.263672 12.076172 C 15.405172 12.029047 15.540969 12.00708 15.669922 12.001953 z"/></svg>
</LinkButton>
            <LinkButton
              href="/ar/search/"
              className={`focus-outline p-3 sm:p-1 ${
                activeNav === "search" ? "active" : ""
              } flex`}
              ariaLabel="search"
              title="Search"
            >
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"
stroke-linecap="round" 
stroke-linejoin="round" 
stroke="currentColor"
stroke-width="1.2" 
width="40"
height="40"
fill="none">
    <path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 13.636719 10 C 11.641431 10 10 11.641431 10 13.636719 L 10 66.363281 C 10 68.358569 11.641431 70 13.636719 70 L 66.363281 70 C 68.358569 70 70 68.359193 70 66.363281 L 70 13.636719 C 70 11.641431 68.359193 10 66.363281 10 L 13.636719 10 z M 13.636719 12 L 66.363281 12 C 67.26937 12 68 12.732006 68 13.636719 L 68 66.363281 C 68 67.26937 67.267994 68 66.363281 68 L 13.636719 68 C 12.732006 68 12 67.267994 12 66.363281 L 12 13.636719 C 12 12.732006 12.732006 12 13.636719 12 z M 18 17 A 1 1 0 0 0 17 18 A 1 1 0 0 0 18 19 A 1 1 0 0 0 19 18 A 1 1 0 0 0 18 17 z M 22 17 A 1 1 0 0 0 21 18 A 1 1 0 0 0 22 19 A 1 1 0 0 0 23 18 A 1 1 0 0 0 22 17 z M 26 17 A 1 1 0 0 0 25 18 A 1 1 0 0 0 26 19 A 1 1 0 0 0 27 18 A 1 1 0 0 0 26 17 z M 30 17 A 1 1 0 0 0 29 18 A 1 1 0 0 0 30 19 A 1 1 0 0 0 31 18 A 1 1 0 0 0 30 17 z M 34 17 A 1 1 0 0 0 33 18 A 1 1 0 0 0 34 19 A 1 1 0 0 0 35 18 A 1 1 0 0 0 34 17 z M 38 17 A 1 1 0 0 0 37 18 A 1 1 0 0 0 38 19 A 1 1 0 0 0 39 18 A 1 1 0 0 0 38 17 z M 42 17 A 1 1 0 0 0 41 18 A 1 1 0 0 0 42 19 A 1 1 0 0 0 43 18 A 1 1 0 0 0 42 17 z M 46 17 A 1 1 0 0 0 45 18 A 1 1 0 0 0 46 19 A 1 1 0 0 0 47 18 A 1 1 0 0 0 46 17 z M 50 17 A 1 1 0 0 0 49 18 A 1 1 0 0 0 50 19 A 1 1 0 0 0 51 18 A 1 1 0 0 0 50 17 z M 54 17 A 1 1 0 0 0 53 18 A 1 1 0 0 0 54 19 A 1 1 0 0 0 55 18 A 1 1 0 0 0 54 17 z M 58 17 A 1 1 0 0 0 57 18 A 1 1 0 0 0 58 19 A 1 1 0 0 0 59 18 A 1 1 0 0 0 58 17 z M 62 17 A 1 1 0 0 0 61 18 A 1 1 0 0 0 62 19 A 1 1 0 0 0 63 18 A 1 1 0 0 0 62 17 z M 18 21 A 1 1 0 0 0 17 22 A 1 1 0 0 0 18 23 A 1 1 0 0 0 19 22 A 1 1 0 0 0 18 21 z M 62 21 A 1 1 0 0 0 61 22 A 1 1 0 0 0 62 23 A 1 1 0 0 0 63 22 A 1 1 0 0 0 62 21 z M 37.5 24 C 30.056001 24 24 30.056001 24 37.5 C 24 44.943999 30.056001 51 37.5 51 C 40.862893 51 43.93481 49.756356 46.300781 47.714844 L 55.087891 56.501953 L 56.501953 55.087891 L 47.714844 46.300781 C 49.756356 43.93481 51 40.862893 51 37.5 C 51 30.056001 44.943999 24 37.5 24 z M 18 25 A 1 1 0 0 0 17 26 A 1 1 0 0 0 18 27 A 1 1 0 0 0 19 26 A 1 1 0 0 0 18 25 z M 62 25 A 1 1 0 0 0 61 26 A 1 1 0 0 0 62 27 A 1 1 0 0 0 63 26 A 1 1 0 0 0 62 25 z M 37.5 26 C 43.863119 26 49 31.136881 49 37.5 C 49 43.863119 43.863119 49 37.5 49 C 31.136881 49 26 43.863119 26 37.5 C 26 31.136881 31.136881 26 37.5 26 z M 18 29 A 1 1 0 0 0 17 30 A 1 1 0 0 0 18 31 A 1 1 0 0 0 19 30 A 1 1 0 0 0 18 29 z M 62 29 A 1 1 0 0 0 61 30 A 1 1 0 0 0 62 31 A 1 1 0 0 0 63 30 A 1 1 0 0 0 62 29 z M 18 33 A 1 1 0 0 0 17 34 A 1 1 0 0 0 18 35 A 1 1 0 0 0 19 34 A 1 1 0 0 0 18 33 z M 62 33 A 1 1 0 0 0 61 34 A 1 1 0 0 0 62 35 A 1 1 0 0 0 63 34 A 1 1 0 0 0 62 33 z M 18 37 A 1 1 0 0 0 17 38 A 1 1 0 0 0 18 39 A 1 1 0 0 0 19 38 A 1 1 0 0 0 18 37 z M 62 37 A 1 1 0 0 0 61 38 A 1 1 0 0 0 62 39 A 1 1 0 0 0 63 38 A 1 1 0 0 0 62 37 z M 18 41 A 1 1 0 0 0 17 42 A 1 1 0 0 0 18 43 A 1 1 0 0 0 19 42 A 1 1 0 0 0 18 41 z M 62 41 A 1 1 0 0 0 61 42 A 1 1 0 0 0 62 43 A 1 1 0 0 0 63 42 A 1 1 0 0 0 62 41 z M 18 45 A 1 1 0 0 0 17 46 A 1 1 0 0 0 18 47 A 1 1 0 0 0 19 46 A 1 1 0 0 0 18 45 z M 62 45 A 1 1 0 0 0 61 46 A 1 1 0 0 0 62 47 A 1 1 0 0 0 63 46 A 1 1 0 0 0 62 45 z M 18 49 A 1 1 0 0 0 17 50 A 1 1 0 0 0 18 51 A 1 1 0 0 0 19 50 A 1 1 0 0 0 18 49 z M 62 49 A 1 1 0 0 0 61 50 A 1 1 0 0 0 62 51 A 1 1 0 0 0 63 50 A 1 1 0 0 0 62 49 z M 18 53 A 1 1 0 0 0 17 54 A 1 1 0 0 0 18 55 A 1 1 0 0 0 19 54 A 1 1 0 0 0 18 53 z M 62 53 A 1 1 0 0 0 61 54 A 1 1 0 0 0 62 55 A 1 1 0 0 0 63 54 A 1 1 0 0 0 62 53 z M 18 57 A 1 1 0 0 0 17 58 A 1 1 0 0 0 18 59 A 1 1 0 0 0 19 58 A 1 1 0 0 0 18 57 z M 62 57 A 1 1 0 0 0 61 58 A 1 1 0 0 0 62 59 A 1 1 0 0 0 63 58 A 1 1 0 0 0 62 57 z M 18 61 A 1 1 0 0 0 17 62 A 1 1 0 0 0 18 63 A 1 1 0 0 0 19 62 A 1 1 0 0 0 18 61 z M 22 61 A 1 1 0 0 0 21 62 A 1 1 0 0 0 22 63 A 1 1 0 0 0 23 62 A 1 1 0 0 0 22 61 z M 26 61 A 1 1 0 0 0 25 62 A 1 1 0 0 0 26 63 A 1 1 0 0 0 27 62 A 1 1 0 0 0 26 61 z M 30 61 A 1 1 0 0 0 29 62 A 1 1 0 0 0 30 63 A 1 1 0 0 0 31 62 A 1 1 0 0 0 30 61 z M 34 61 A 1 1 0 0 0 33 62 A 1 1 0 0 0 34 63 A 1 1 0 0 0 35 62 A 1 1 0 0 0 34 61 z M 38 61 A 1 1 0 0 0 37 62 A 1 1 0 0 0 38 63 A 1 1 0 0 0 39 62 A 1 1 0 0 0 38 61 z M 42 61 A 1 1 0 0 0 41 62 A 1 1 0 0 0 42 63 A 1 1 0 0 0 43 62 A 1 1 0 0 0 42 61 z M 46 61 A 1 1 0 0 0 45 62 A 1 1 0 0 0 46 63 A 1 1 0 0 0 47 62 A 1 1 0 0 0 46 61 z M 50 61 A 1 1 0 0 0 49 62 A 1 1 0 0 0 50 63 A 1 1 0 0 0 51 62 A 1 1 0 0 0 50 61 z M 54 61 A 1 1 0 0 0 53 62 A 1 1 0 0 0 54 63 A 1 1 0 0 0 55 62 A 1 1 0 0 0 54 61 z M 58 61 A 1 1 0 0 0 57 62 A 1 1 0 0 0 58 63 A 1 1 0 0 0 59 62 A 1 1 0 0 0 58 61 z M 62 61 A 1 1 0 0 0 61 62 A 1 1 0 0 0 62 63 A 1 1 0 0 0 63 62 A 1 1 0 0 0 62 61 z"/>
</svg>
              <span class="sr-only">Search</span>
            </LinkButton>
    </div>
  </div>
  <Hr />
</header>

<style>
  #skip-to-content {
    @apply absolute -top-full left-16 z-50 bg-skin-accent px-3 py-2 text-skin-inverted transition-all focus:top-4;
  }
  .nav-container {
    @apply mx-auto flex max-w-3xl flex-col items-center justify-between sm:flex-row;
  }
  .top-nav-wrap {
    @apply relative flex w-full items-start justify-between p-4 sm:items-center sm:py-8;
  }
  .logo {
    @apply absolute py-1 text-xl font-semibold sm:static sm:text-2xl;
  }
  .hamburger-menu {
    @apply self-end p-2 sm:hidden;
  }
  .hamburger-menu svg {
    @apply h-6 w-6 scale-125 fill-skin-base;
  }

  nav {
    @apply flex w-full flex-col items-center sm:ml-2 sm:flex-row sm:justify-end sm:space-x-4 sm:py-0;
  }
  nav ul {
    @apply mt-4 grid w-44 grid-cols-2 grid-rows-4 gap-x-2 gap-y-2 sm:ml-0 sm:mt-0 sm:w-auto sm:gap-x-5 sm:gap-y-0;
  }
  nav ul li {
    @apply col-span-2 flex items-center justify-center;
  }
  nav ul li a {
    @apply w-full px-4 py-3 text-center font-medium hover:text-skin-accent sm:my-0 sm:px-2 sm:py-1;
  }
  nav ul li:nth-last-child(2) a {
    @apply w-auto;
  }
  nav ul li:nth-last-child(1),
  nav ul li:nth-last-child(2) {
    @apply col-span-1;
  }
  nav a.active {
    @apply underline decoration-wavy decoration-2 underline-offset-4;
  }
  nav a.active svg {
    @apply fill-skin-accent;
  }

  nav button {
    @apply p-1;
  }
  nav button svg {
    @apply h-6 w-6 fill-skin-base hover:fill-skin-accent;
  }
  #theme-btn {
    @apply p-3 sm:p-1;
  }
  #theme-btn svg {
    @apply scale-125 hover:rotate-12 sm:scale-100;
  }

  .menu-icon line {
    @apply transition-opacity duration-75 ease-in-out;
  }
  .menu-icon .close {
    opacity: 0;
  }
  .menu-icon.is-active .line {
    @apply opacity-0;
  }
  .menu-icon.is-active .close {
    @apply opacity-100;
  }
</style>

<script>
  function toggleNav() {
    // Toggle menu
    const menuBtn = document.querySelector(".hamburger-menu");
    const menuIcon = document.querySelector(".menu-icon");
    const menuItems = document.querySelector("#menu-items");

    menuBtn?.addEventListener("click", () => {
      const menuExpanded = menuBtn.getAttribute("aria-expanded") === "true";
      menuIcon?.classList.toggle("is-active");
      menuBtn.setAttribute("aria-expanded", menuExpanded ? "false" : "true");
      menuBtn.setAttribute(
        "aria-label",
        menuExpanded ? "Open Menu" : "Close Menu"
      );
      menuItems?.classList.toggle("display-none");
    });
  }

  toggleNav();

  // Runs on view transitions navigation
  document.addEventListener("astro:after-swap", toggleNav);
</script>
