---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/arLayout.astro";
import Main from "@layouts/arMain.astro";
import Header from "@components/arHeader.astro";
import Footer from "@components/arFooter.astro";
import SearchBar from "@components/arSearch";
import getSortedPosts from "@utils/getSortedPosts";

// Retrieve all published articles
const posts = await getCollection("ar", ({ data }) => !data.draft);
const sortedPosts = getSortedPosts(posts);

// List of items to search in
const searchList = sortedPosts.map(({ data, slug }) => ({
  title: data.title,
  description: data.description,
  data,
  slug,
}));
---

<Layout title={`البحث | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle="البحث" pageDesc="">
    <SearchBar client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
